:root{
  --black:#161616;
  --gray:#6a6a6a;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'B-Nazanin';
  src: local('B-Nazanin'), url(./fonts//B-NAZANIN.TTF) format('truetype');
  font-family: "Yekan";
  src: local('Yekan.ttf'), url(./fonts/Yekan.ttf);
}

body {
  font-family:B-Nazanin,Yekan;
  background:var(--black);
  color: var(--gray);
}

.App{
  background: var(--black);
}

// **********************Nav***********

.logo{
  width: 55px;
  height: 55px;
  border-radius:50vw;
}


//home

.home{
  width: 100%;

}